@import "../../settings/colors";
@import "../../settings/fonts";
@import "../../settings/mixins";

.main__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.modal {
  width: 90vw;
  height: 90vh;
  display: flex;
  background-color: $modalColor;
  box-shadow: 3px 12px 20px grey;
}

.modal__left__side {
  width: 60%;
  position: relative;
}

svg {
  display: block;
  //position: absolute;
  //top: 0;
  //left: 0;
  //background: url("../../assets/baby__photo.jpg");
}

.modal__right__side {
  width: 40%;
  display: grid;;
  grid-template-rows: 1fr 1fr;
}

.modal__right__side__header__container {
  grid-row: 1/2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.babylab__logo {
  height: 280px;
  width: 280px;
  background: url("../../assets/Babylab_PAN_LOGO_TEKST.png");
  background-size: contain;
}

.decor {
  width: 0.25px;
  height: 200px;
  background-color: $darkCold;
  opacity: 0.4
}

.login__form__watermark {
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  font-weight: 100;
  color: $darkCold;
  opacity: 0.4;
  width: 250px;
  text-align: center;

  strong {
    font-weight: bold;
  }
}

.login__form {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 30px;
  grid-row-gap: 30px;
}

label {
  height: 40px;
  display: flex;
  justify-content: center;
  width: 50%;
  border: 0.25px solid rgb(0,113,198);
  opacity: 0.4;
  justify-self: center;
  transition: 1s;
  &:focus-within {
    opacity: 1;
  }
}

input {
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 10px;
  width: 90%;
  color: $darkCold;
  &:focus {
    outline: none;
  }
}

.login__form__id {
  grid-row: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login__form__id__icon {
  @include icon;
  background-image: url("../../assets/envelope.svg");
}

.login__form__password {
  grid-row: 2/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login__form__password__icon {
  @include icon;
  background-image: url("../../assets/lock.svg");
}

.login__submit {
  grid-row: 3/4;
  height: 50px;
  width: 50%;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, $lightWarm, $darkWarm );
  color: white;
  justify-self: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 70px;
}

.copyright {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
