@import "src/settings/colors";

.projects__main {
  width: 100%;
  min-height: 82vh;
  margin: 5vh 0;
  background: darken($backgroundColor, 5);
  position: relative;
}

.projects__bg {
  height: 80vh;
  width: 40%;
  background: linear-gradient(60deg, darken($lightWarm, 5), lighten($lightWarm, 5));
  //margin-top: 5vh;
  transform: translateX(-9vw) skew(5deg, -5deg);
  box-shadow: 12px -5px 10px 3px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.projects__bg__container {
  font-family: 'Montserrat', sans-serif;
  transform: skew(-5deg, 5deg);
  margin: 10em;
  color: white;
}

.projects__bg__container__title {
  font-size: 4em;
  margin-bottom: 0.5em;
}

.projects__bg__container__button {
  width: 70%;
  height: 2.5em;
  font-size: 1.5em;
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
  color: darken($lightWarm, 5);
  margin-left: 30%;
  padding: 0.25em;
  transition: 0.5s;
  &:hover {
    color: white;
    border: 0.25px solid white;
    background-color: transparent;
  }
}

.projects__container {
  width: 80%;
  margin: 0 auto;
}

.projects__container__list {
  position: absolute;
  top: 3vh;
  right: 3vw;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
