@import "src/settings/colors";
@import "src/settings/mixins";

.modal__signUp__image {
  grid-column: 1/2;
  grid-row: 1/3;
  background: url("../../assets/backgroundSignUp.svg") no-repeat left;
  background-size: 70%;
  margin-left: 10%;
}

.signUp_main {
  label {
    justify-self: flex-start;
    display: flex;
    justify-content: flex-start;
  }

  .signUp__error {
    @extend .signin__error;
  }

  @extend .login__form;
  grid-template-rows: repeat(5, 1fr);

  .signUp__form__id {
    grid-row: 2/3;

    .login__form__id__icon {
      @include icon;
      background-image: url("../../assets/user.svg");
    }
  }

  .signUp__form__email {
    grid-row: 3/4
  }

  .signUp__form__password {
    grid-row: 4/5;
  }

  .signUp__form__password__repeat {
    grid-row: 5/6;
  }
}

.signUp__form__link {
  @extend .login__form__signUp;
  grid-row: 6/7 !important;

  a {
    text-decoration: none;
    color: $darkCold;
  }
}

.signUp__submit {
  @extend .login__submit;
  grid-row: 7/8 !important;
}
