.database__main__control__item {
  width: 300px;
  height: 300px;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 300px;
  color: white;
  //padding: 4vh 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}
