@import "src/settings/colors";

.navigationItem {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  font-weight: bold;
  color: rgba(white, 0.8);
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: rgba($lightWarm, 1);
  }
}
