@import "../../settings/colors";
@import "../../settings/mixins";
@import "../../settings/fonts";

.database__container {
  height: 92vh;
  overflow: hidden;
  position: relative;
}

.database__hamburger {
  position: fixed;
  top: 4vh;
  left: 2.5%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  cursor: pointer;
  z-index: 10;
  transition: 0.5s;

  span {
    display: block;
    background-color: darken(white, 20);
    height: 1px;
    align-self: center;
  }

  span:nth-of-type(1) {
    grid-row: 1/2;
    width: 100%;
  }

  span:nth-of-type(2) {
    grid-row: 2/3;
    width: 75%;
  }

  span:nth-of-type(3) {
    grid-row: 3/4;
    width: 100%;
  }
}

.database__hamburger.active {

  span {
    background-color: white;
    width: 30px;
    grid-row: 2/3;
    grid-column: 1/2;
  }

  span:nth-of-type(2) {
    display: none;
  }

  span:nth-of-type(1) {
    transform: rotate(45deg);

  }

  span:nth-of-type(3) {
    transform: rotate(-45deg);
  }
}

.database__nav__container {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, $darkCold, lighten($darkCold, 20));
  display: flex;
  align-items: center;
}

.databaseMenu__nav {
  height: 80%;
  //background: linear-gradient(to bottom right, $darkCold, lighten($darkCold, 20));
  //background-clip: text;
  //-webkit-background-clip: text;
  //color: transparent;
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 3%;

  li {
    //align-self: center;
    //justify-self: flex-start;
    margin-left: 10%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.databaseMenu__nav.active {
  transform: translateX(0);
}

.database__page {
  background: linear-gradient(to bottom, white 5%, darken(white, 10));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 0.4s;
  width: 100%;
  height: 92vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.database__page.active {
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
  transform: translateX(20%) rotateY(10deg) scale(0.95);
  transform-origin: right center;
  transition: 0.4s;
}
