@import "../../settings/colors";

.new__project__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 35%;
  height: 80%;
  background-color: rgba($darkWarm, 0.15);
  box-shadow: 12px -5px 10px 3px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

.new__project__modal__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 2em;
  color: lighten(black, 40);
}

.new__project__modal__container {
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-rows: 1fr 100px 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 80px;
  font-family: 'Montserrat', sans-serif;

  label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    border: none;
    width: 100%;
  }

  span {
    font-size: 16px;
    display: block;
    color: crimson;
    margin: 10px 0;
  }

  input {
    font-size: 20px;
    border-bottom: 0.25px solid #454545;
    width: 100%;
    display: block;
    margin-top: 15px;
  }

  .new__project__modal__container__name {
    grid-row: 1/2;
  }

  .new__project__modal__container__description {
    grid-row: 3/4;
    height: 100px;
  }

  .new__project__modal__container__meetings {
    grid-row: 5/6;
  }
}

.new__project__modal__close {
  width: 30px;
  height: 30px;
  background: url("../../assets/close.svg") center no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.new__project__modal__submit {
  grid-row: 5/6;
  width: 40%;
  height: 50px;
  border: none;
  background: $darkCold;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.5s;

  &:hover {
    background-color: rgba($darkCold, 0.8);
  }
}
