@import "../../settings/colors";
@import "../../settings/mixins";

.new__project__modal__bg {
  width: 100%;
  height: 92vh;
  background: $lightWarm;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.new__project__modal {
  @include modal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new__project__modal__image {
  width: 55%;
  height: 100%;
  background: url("../../assets/projects__modal__bg.jpg") center no-repeat;
  background-size: cover;
}

.new__project__modal__container {
  width: 40%;
  height: 80%;
  font-family: 'Montserrat', sans-serif;
}

.new__project__modal__title {
  font-size: 30px;
  color: lighten(black, 40);
  margin-bottom: 1.5em;
}

.new__project__modal__form {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-row-gap: 5%;

  label {
    @include label;
  }

  span {
    font-size: 18px;
    display: block;
    color: crimson;
    margin: 10px 0;
  }

  input {
    @include input;
  }

  .new__project__modal__container__name {
    grid-row: 1/2;
  }

  .new__project__modal__container__description {
    grid-row: 2/3;
    height: 100px;
  }

  .new__project__modal__container__meetings {
    grid-row: 3/4;
  }
}

.new__project__modal__submit {
  @include button();
  grid-row: 4/5;
  grid-column: 1/2;
  background: $darkWarm;
}

.new__project__modal__cancel {
  @include button();
  grid-row: 4/5;
  grid-column: 1/2;
  background: $darkCold;
  justify-self: flex-start;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}
