@import "../../settings/colors";
@import "../../settings/mixins";
@import "../../settings/dataColumnWidth";

.databaseData__bg.dim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.3;
  z-index: 0;
  transition: 0.5s;
}

.databaseData {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr;
  min-height: 92vh;
}

.databaseData__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: $lightWarm;
}

.databaseData__noResults {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: lighten(black, 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.data__detailed {
  position: fixed;
  top: 8vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: lightgray;
  z-index: 1000;
}