@import "../../settings/colors";
@import "../../settings/mixins";

.databaseData__container {
  width: 90%;
  margin-top: 2em;
}

.databaseData__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: $darkWarm;
}

.databaseData__filter {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  label {
    @include label;
    width: 70%;
    display: flex;
    align-items: center;

    span {
      @include icon;
      display: block;
      background: url("../../assets/search.svg") center no-repeat;
    }
  }

  input {
    @include input;
    padding: 0;
    text-indent: 5px;
  }
}

.databaseData__filter__title {
  width: 60%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: -0.1px;
  font-size: 35px;
  color: lighten(black, 50);
}

.databaseData__list {
  height: 85%;
  border: 0.25px solid rgba($darkCold, 0.5);
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.databaseData__list__setup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  list-style-type: none;

  li {
    height: 60px;
    width: 60px;
    border: 0.25px solid rgba($darkCold, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    cursor: pointer;

    &:nth-of-type(2) {
      border-top: none;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: blue;
      }
    }
  }
}
