$mainColor : black;
$lightCold: rgb(1,197,242);
$darkCold: rgb(0,113,198);
$accentColor : #F07D17;
$darkWarm : rgb(242, 182, 134);
$lightWarm : rgb(247,168,35);
$backgroundColor : #f4f4f4;
$modalColor : white;
$headerColor : black;
