$mainColor : black;
$lightCold: rgb(1,197,242);
$darkCold: rgb(51, 139, 168);
$accentColor : #F07D17;
$darkWarm : rgb(242, 182, 134);
$lightWarm : rgb(247, 168, 35);
$backgroundColor : #ffffff;
$modalColor : $backgroundColor;
$headerColor : black;
