@mixin icon {
  width: 40px;
  height: 40px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin container__main {
  width: 90%;
  height: 100%;
}

@mixin label {
  color: lighten(black, 20);
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-indent: 10px;
  display: block;
  border: 0.25px solid lighten(black,10);
  opacity: 1;
  border-radius: 10px;
  width: 100%;
}

@mixin input {
  font-size: 20px;
  height: 50%;
  background-color: white;
}
